body{
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}

.google-fonts{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 3px 3px 5px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}

.text-m{
  color: skyblue;
}

.text-p{
  color: rgb(255, 192, 203);
}

.text-pink{
  color: pink;
}

.text-skyblue{
  color: skyblue;
}

#parent p{
  font-weight: bold;
}